.vrt-header__wrapper {
    padding: 5px !important;
}
.vrt-nav__items {
    padding: 5px !important;
}
.vrt-page {
    max-width: 100% !important;
    padding: 0 1%;
    margin-top: 120px !important;
}
.vrt-page #main-content {
    padding: 0 1%;
}
#main-content .vrtnws-sb-container section:first-of-type {
    display: flex;
    flex-flow: row wrap;
    gap: 1%;
}
#main-content .vrtnws-sb-container > div > section > ul {
    max-width: 32%;
}
ul > li > a {
    flex-direction: column !important;
}
ul > li > div {
    padding: 5px 0 !important;
}
ul > li > a > div {
    width: 100% !important;
}
ul > li li:nth-child(1):nth-last-child(4):first-of-type {
    grid-column: 1 / span 1 !important;
}